spring:
  profiles:
    include: secret, polling
    active: polling
  data:
    redis:
      host: ${REDIS_HOST:localhost}
      port: ${REDIS_PORT:6379}
  application:
    name: broker # Eureka에 등록될 서비스의 고유 이름


  # H2 Database Configuration (commented out)
  # h2:
  #   console:
  #     enabled: true
  # Previous H2 configuration:
  # datasource:
  #   url: jdbc:h2:file:./app;AUTO_SERVER=TRUE;MODE=MySQL
  #   username: sa
  #   password:
  #   driver-class-name: org.h2.Driver
springdoc:
  override-with-generic-response: false
eureka:
  client:
    service-url:
      defaultZone: http://localhost:8761/eureka/ # Eureka 서버 주소
      hostname: ${EUREKA_CLIENT_HOST_NAME}
  instance:
    instance-id: ${spring.application.name}:${server.port}:${random.value}
custom:
  events:
    url: http://app

services:
  event:
    base-url: ${EVENT_SERVICE_BASE_URL:http://app}

server:
  port: 0
  tomcat:
    threads:
      max: 2000
      min-spare: 100
    max-connections: 10000
    accept-count: 1000
    connection-timeout: 60000

management:
  endpoints:
    web:
      exposure:
        include: health,info,metrics,threaddump,env,configprops,tomcat
      base-path: /actuator
  endpoint:
    health:
      show-details: always
    metrics:
      enabled: true
  prometheus:
    metrics:
      export:
        enabled: true
