spring:
  config:
    activate:
      on-profile: local
  data:
    redis:
      host: localhost
      port: 6379

logging:
  level:
    org.codenbug: DEBUG
    org.springframework.cloud.gateway: DEBUG
    org.springframework.web: DEBUG
    reactor.netty.resources: INFO
    org.springframework.scheduling: INFO
    org.springframework.cloud.gateway.filter: DEBUG
    org.springframework.cloud.gateway.handler.predicate: DEBUG
