server:
  port: 9004

spring:
  application:
    name: user  # app 모듈에서 통합 관리
  rabbitmq:
    host: localhost # RabbitMQ host ip
    port: 5672 # RabbitMQ port
    username : root # RabbitMQ 웹 관리 콘솔 아이디
    password: root # RabbitMQ 웹 관리 콘솔 비밀번호
  profiles:
    include: secret
  datasource:
    url: jdbc:mysql://localhost:3306/ticketon
    username: ticketon
    password: ticketon
    driver-class-name: com.mysql.cj.jdbc.Driver
  jpa:
    hibernate:
      ddl-auto: none
    show-sql: true
    properties:
      hibernate:
        dialect: org.hibernate.dialect.MySQL8Dialect
  data:
    redis:
      host: localhost
      port: 6379

rabbitmq:
  queue:
    name: user-auth # 사용할 queue 이름
  exchange:
    name: user-auth # 사용할 exchange 이름
  routing:
    key : auth


springdoc:
  api-docs:
    path: /v3/api-docs
  swagger-ui:
    path: /swagger-ui.html

  

