services:
  rabbitmq:
    image: rabbitmq:management-alpine
    container_name: rabbitmq
    ports: 
      - 5672:5672
      - 15672:15672
    volumes:
      - rabbitmq_etc:/etc/rabbitmq/
      - rabbitmq_data:/var/lib/rabbitmq/
      - rabbitmq_log:/var/log/rabbitmq/
    environment:
      RABBITMQ_ERLANG_COOKIE: "RabbitMQ-My-Cookies" #Ealang Cookie 설정 (클러스터 구축시 필요)
      RABBITMQ_DEFAULT_USER: "root" #admin password
      RABBITMQ_DEFAULT_PASS: "root" #admin password


  # kafka-1:
  #   image: apache/kafka:latest
  #   container_name: kafka-1
  #   ports:
  #     - "29092:9092"
  #   environment:
  #     KAFKA_NODE_ID: 1
  #     KAFKA_PROCESS_ROLES: broker,controller
  #     KAFKA_LISTENERS: 'PLAINTEXT://:19092,PLAINTEXT_HOST://:9092,CONTROLLER://:9093'
  #     KAFKA_ADVERTISED_LISTENERS: 'PLAINTEXT://kafka-1:19092,PLAINTEXT_HOST://localhost:29092'
  #     KAFKA_INTER_BROKER_LISTENER_NAME: PLAINTEXT
  #     KAFKA_CONTROLLER_LISTENER_NAMES: CONTROLLER
  #     KAFKA_LISTENER_SECURITY_PROTOCOL_MAP: CONTROLLER:PLAINTEXT,PLAINTEXT:PLAINTEXT,PLAINTEXT_HOST:PLAINTEXT
  #     KAFKA_CONTROLLER_QUORUM_VOTERS: 1@kafka-1:9093,2@kafka-2:9093,3@kafka-3:9093
  #     KAFKA_GROUP_INITIAL_REBALANCE_DELAY_MS: 0
  #   networks:
  #     - common

  # kafka-2:
  #   image: apache/kafka:latest
  #   container_name: kafka-2
  #   ports:
  #     - "39092:9092"
  #   environment:
  #     KAFKA_NODE_ID: 2
  #     KAFKA_PROCESS_ROLES: broker,controller
  #     KAFKA_LISTENERS: 'PLAINTEXT://:19092,PLAINTEXT_HOST://:9092,CONTROLLER://:9093'
  #     KAFKA_ADVERTISED_LISTENERS: 'PLAINTEXT://kafka-2:19092,PLAINTEXT_HOST://localhost:39092'
  #     KAFKA_INTER_BROKER_LISTENER_NAME: PLAINTEXT
  #     KAFKA_CONTROLLER_LISTENER_NAMES: CONTROLLER
  #     KAFKA_LISTENER_SECURITY_PROTOCOL_MAP: CONTROLLER:PLAINTEXT,PLAINTEXT:PLAINTEXT,PLAINTEXT_HOST:PLAINTEXT
  #     KAFKA_CONTROLLER_QUORUM_VOTERS: 1@kafka-1:9093,2@kafka-2:9093,3@kafka-3:9093
  #     KAFKA_GROUP_INITIAL_REBALANCE_DELAY_MS: 0
  #   networks:
  #     - common

  # kafka-3:
  #   image: apache/kafka:latest
  #   container_name: kafka-3
  #   ports:
  #     - "49092:9092"
  #   environment:
  #     KAFKA_NODE_ID: 3
  #     KAFKA_PROCESS_ROLES: broker,controller
  #     KAFKA_LISTENERS: 'PLAINTEXT://:19092,PLAINTEXT_HOST://:9092,CONTROLLER://:9093'
  #     KAFKA_ADVERTISED_LISTENERS: 'PLAINTEXT://kafka-3:19092,PLAINTEXT_HOST://localhost:49092'
  #     KAFKA_INTER_BROKER_LISTENER_NAME: PLAINTEXT
  #     KAFKA_CONTROLLER_LISTENER_NAMES: CONTROLLER
  #     KAFKA_LISTENER_SECURITY_PROTOCOL_MAP: CONTROLLER:PLAINTEXT,PLAINTEXT:PLAINTEXT,PLAINTEXT_HOST:PLAINTEXT
  #     KAFKA_CONTROLLER_QUORUM_VOTERS: 1@kafka-1:9093,2@kafka-2:9093,3@kafka-3:9093
  #     KAFKA_GROUP_INITIAL_REBALANCE_DELAY_MS: 0
  #   networks:
  #     - common

  redis:
    image: redis:alpine
    ports:
      - "6379:6379"
    volumes:
      - ./redis/data:/data
    restart: always
    command: redis-server --save 60 1 --loglevel warning
    networks:
      - common
  cache:
    image: redis:alpine
    ports:
      - "6380:6379"
    volumes:
      - ./cache/data:/data
    restart: always
    command: redis-server --save 60 1 --loglevel warning
    networks:
      - common
  mysql-master:
    image: mysql:lts
    container_name: mysql-master
    environment:
      MYSQL_ROOT_PASSWORD: password
      MYSQL_DATABASE: ticketon
      MYSQL_USER: ticketon
      MYSQL_PASSWORD: ticketon
    volumes:
      - mysql_master_data:/var/lib/mysql
      - ./mysql/master/master.cnf:/etc/my.cnf
    ports:
      - "3306:3306"
      - "33060:33060"
    restart: always
    networks:
      - common
    healthcheck:
      test: ["CMD", "mysqladmin", "ping", "-h", "localhost", "-u", "root", "-ppassword"]
      timeout: 5s
      retries: 10

  mysql-replica:
    image: mysql:lts
    container_name: mysql-replica
    environment:
      MYSQL_ROOT_PASSWORD: password
      MYSQL_DATABASE: ticketon
      MYSQL_USER: ticketon
      MYSQL_PASSWORD: ticketon
    volumes:
      - ./mysql/replica/replica.cnf:/etc/my.cnf
      - mysql_replica_data:/var/lib/mysql
    ports:
      - "3307:3306"
      - "33061:33060"
    depends_on:
      mysql-master:
        condition: service_healthy
    restart: always
    networks:
      - common
    healthcheck:
      test: ["CMD", "mysqladmin", "ping", "-h", "localhost", "-u", "root", "-ppassword"]
      timeout: 5s
      retries: 10

networks:
  common:
    driver: bridge
volumes:
  mysql_master_data:
  mysql_replica_data:
  rabbitmq_etc:
  rabbitmq_log:
  rabbitmq_data:
